@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*   {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

a{text-decoration: none;}


#navbar {
    height: 64px;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4) ;
    z-index: 1;
}

.page_nav   {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: gainsboro;
}

#logo   {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding-left: 20px;
    font-size: 32px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: gainsboro;
    
}

.page_nav:hover{
    border-bottom: 1px inset gainsboro;
    color: gainsboro;
}


#page_nav_list  {
    margin-left: auto;
    margin-top: auto;
    margin-bottom:auto;
}



#welcome-section    {
    height: 100vh;
    min-height: 100%;
    width: 100vw;
    background-image: url('http://localhost:3000/images/laptopbg.jpg');
    background-size: cover;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}


#welcome-tag    {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    line-height: 64px;
    color: gainsboro;
    text-align: left;

}

